@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 100;
  /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
  src: url("./AppleSDGothicNeoL.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
  /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
  src: url("./AppleSDGothicNeoM.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 300;
  /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
  src: url("./AppleSDGothicNeoB.ttf") format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 400;
  /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
  src: url("./AppleSDGothicNeoH.ttf") format("truetype");
}
