$color-primary: #032889;
$color-primary-0: #0082ca;
//$color-secondary: #ebf4ff;
$color-secondary: #a5cef7;
$color-secondary-0: #f3f7fd;
$color-active: #f73676;

$color-dark-gray: #646464;
$color-sub-text: #8e8e93;
$color-disabled-text: #444;
$color-disabled: #dbdbdb;
$color-border: #d8d8d8;
$color-bg-gray: #f1f1f1;

$color-blueGreen: #17a2b8;
$color-red: #ff3b30;
$color-blue: #007aff;
$color-green: #4cd964;
$color-yellow: #ffff00;
$color-gold: #ffc041;
$color-purple: #7149e8;
$color-orange: #ff7b00;
$color-orange-0: #fdfaf0;
$color-brown: #7d5f00;
$color-brown-0: #fffaea;

$color-icon-1: #783ba6;
$color-icon-2: #ed7000;
$color-icon-3: #fc7078;
$color-icon-4: #00286b;
$color-icon-5: #3da200;
$color-icon-6: #0170c9;
$color-icon-7: #36adad;
$color-icon-8: #ffc000;
$color-icon-9: #7e838f;
$color-icon-10: #e84949;

$color-metro-5: #8936e0;
$color-metro-3: #f06e00;

$color-modal-0: rgba(0, 0, 0, 0.1);
$color-modal-1: rgba(0, 0, 0, 0.3);

//반응형 분기점
$mobile: 767px;
$tablet: 1023px;
