* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
  padding: 0;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
body.modal_open {
  overflow: hidden;
}

img {
  border: 0;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}
a {
  color: #1a1a1a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}
tr,
td,
th {
  font-weight: normal;
}

input::placeholder {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
}
input:-ms-input-placeholder {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
}
input::-webkit-input-placeholder {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
}
input {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
}
textarea {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
  padding: 10px;
  border-radius: 4px;
}
textarea::placeholder {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
}
