* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
  padding: 0;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body.modal_open {
  overflow: hidden;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

a {
  color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

tr,
td,
th {
  font-weight: normal;
}

input::placeholder {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
}

input:-ms-input-placeholder {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
}

input::-webkit-input-placeholder {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
}

input {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
}

textarea {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
  padding: 10px;
  border-radius: 4px;
}

textarea::placeholder {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
}

.width-10 {
  width: 10%;
}

input[type=number].width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

input[type=number].width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

input[type=number].width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

input[type=number].width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

input[type=number].width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

input[type=number].width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

input[type=number].width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

input[type=number].width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

input[type=number].width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

input[type=number].width-100 {
  width: 100%;
}

.width-auto {
  width: auto;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.m-TB-20 {
  margin: 20px 0;
}

.m-auto {
  margin: 0 auto;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-LR-16 {
  padding: 0 16px;
}

.p-LR-20 {
  padding: 0 20px;
}

.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.items-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gap-4 {
  display: flex;
  gap: 4px;
}

.gap-10 {
  display: flex;
  gap: 10px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}